## Time Series Forecasting in R

Since it was very clumsy to perform time series forecasting in python, I decided to try the R forecasting package in R (via the R kernel in Jupyter notebooks).

I saved my time glucose time grid data as a csv, so to begin I will import it into an R dataframe.

In [36]:
library(forecast)

In [37]:
#Load file (not a csv technically)
glucTimeTable <- read.table('diabetes_analysis_glucTimeGrid', 
                            header=TRUE, sep= ',')

In [38]:
#Get data type
typeof(glucTimeTable)

[1] "list"

In [39]:
#Turn list into a dataframe and get the first couple of rows
data= data.frame(glucTimeTable)
head(data)

  X X1 X2 X3 X4 X5 X6 X7 X8 X9 ⋯ X61 X62 X63 X64 X65 X67 X68   X69 X70
1 0 NA NA NA NA NA NA NA NA NA ⋯ NA  NA  NA  NA  NA  NA  158.0 NA  NA
2 1 NA NA NA NA NA NA NA NA NA ⋯ NA  NA  NA  NA  NA  NA  135.0 NA  NA
3 2 NA NA NA NA NA NA NA NA NA ⋯ NA  NA  NA  NA  NA  NA  147.0 NA  NA
4 3 NA NA NA NA NA NA NA NA NA ⋯ NA  NA  NA  NA  NA  NA  136.0 NA  NA
5 4 NA NA NA NA NA NA NA NA NA ⋯ NA  NA  NA  NA  NA  NA  111.5 NA  NA
6 5 NA NA NA NA NA NA NA NA NA ⋯ NA  NA  NA  NA  NA  NA  140.0 NA  NA
  dates
1 1988-03-27
2 1988-03-28
3 1988-03-31
4 1988-04-02
5 1988-04-04
6 1988-04-06