## Using Python to process data that's too large to fit into memory

I generated some sample data into a database using [Mockaroo](https://www.mockaroo.com/) that includes bg values for different users throughout the day. 

Although the data is only 600 rows, I'll use this opportunity to process it chunkwise in python as if it were data that could not fit in memory. Let's get a quick look at the data first.

### Database file with pandas

In [256]:
import pandas as pd
import sqlite3

#Connect to our database
con= sqlite3.connect('bgTable.db')

#Read the first few lines from our table
table0= pd.read_sql_query('SELECT * FROM bgTable LIMIT 3', con)
table0.head()

   id  bgVal   time
0   1    230  15:52
1   2     80  19:22
2   3    347   8:13

Now that we can see our table, we'll need to define the query that we'd like to apply to the table. We want to add a new column to our data that labels our row based on the bgValues value. It can fall into three groups: 1) Less than or equal to 80 2) between 81 and 250 and 3) Greater than 250.

In [257]:
#binItems query has nested 'case when' statements to create a new
#column called 'bin' that includes a label for each row depending
#on the value of the bgVal column
binItems= '''
SELECT *, 
CASE WHEN bgVal <=80 THEN 'below'  
     ELSE CASE WHEN bgVal <=250 THEN 'in_range'  
          ELSE CASE WHEN bgVal >250 THEN 'above' 
          END 
     END
END AS 'bin'
FROM bgTable
'''

Now that we have the query, we'll apply it to bgTable. This will add an extra column ('bin') for the bin each row belongs to ('below','in_range', and 'above'). Again, we'll perform this operation in chunks (since we're assuming that the table is too large to load into memory). 

The code in the next cell does the following: 1) loads a chunk of our table from our database 3 rows at a time, 2) performs the 'binItems' query on each chunk and 3) appends the resulting chunks to a new table called 'bgTableBinned' that has a new 'bin' column.

In [258]:
#Changing this query to sqlite directly
#pd.read_sql_query('create table bgTableBinned2(id INTEGER, bgVal VARCHAR, time VARCHAR, bin VARCHAR)', con)

c= con.cursor()
c.execute('create table bgTableBinned2(id INTEGER, bgVal VARCHAR, time VARCHAR, bin VARCHAR)')

In [261]:
#We'll first create a new table in our database that
#we'll append new items to
#pd.to_sql('bgTableBinned3',con, index= False, if_exists= 'append')
#pd.read_sql_query('create table bgTableBinned2(id INTEGER, bgVal VARCHAR, time VARCHAR, bin VARCHAR)', con)
#CREATE TABLE t(x INTEGER PRIMARY KEY ASC, y, z);

for query_chunk in pd.read_sql_query(binItems, con, chunksize=3):
    print query_chunk 
    query_chunk.to_sql('bgTableBinned2',con, if_exists= 'append', index= False)

#Interesting, using pd.read_sql_query allows me to create a table but I keep getting a
#"NoneType object is not iterable" error directed at that line. Should i just be using
#query_chunk.to_sql to wire with parameters changed?
#If I run the .tosql command I get a 'SQL logic error or missing database' error
#However, if I look at the db on dbBrowser, the table HAS been created and the 
#first three rows have been written. If I run this same cell again it works fine
#but you can tell something funky was up cause there are 607 rows instead of 7
#(why not 603?)
#looks like it wrote rows 123, then appended 1234, then appended 1234...600 weird

#Showed this to the data engineers and this 'hiccup' of 1234, 1234...600 didn't make sense
#it didn't crash and reset itself. Could this be a bug?
#Also, not a solution but it was suggested that instead of writing a whole table I could 
#update original table with a single column instead?
#Also, since I have the con object, maybe make the table using sqlite3 instead of pandas
#and just do the writing part in pandas?

   id  bgVal   time       bin
0   1    230  15:52  in_range
1   2     80  19:22     below
2   3    347   8:13     above
   id  bgVal   time       bin
0   4    220   5:53  in_range
1   1    230  15:52  in_range
2   2     80  19:22     below
   id  bgVal  time       bin
0   3    347  8:13     above
1   4    220  5:53  in_range
2   5    305  0:36     above
   id  bgVal   time       bin
0   6    148  18:16  in_range
1   7    269  19:19     above
2   8    193  16:24  in_range
   id  bgVal   time       bin
0   9    305   3:12     above
1  10    120  12:28  in_range
2  11    188  13:28  in_range
   id  bgVal   time       bin
0  12    135  20:49  in_range
1  13    134   0:04  in_range
2  14    122  17:05  in_range
   id  bgVal  time       bin
0  15    297  1:17     above
1  16     58  2:47     below
2  17    202  4:29  in_range
   id  bgVal   time       bin
0  18     75   3:33     below
1  19    137   7:37  in_range
2  20    131  21:46  in_range
   id  bgVal   time       bin
0  21    170  21:59  in_range
1  22    195   1:22  in_range
2  23    160   2:11  in_range
   id  bgVal   time       bin
0  24    303  15:33     above
1  25    238  22:40  in_range
2  26    288   2:14     above
   id  bgVal   time       bin
0  27    250   6:53  in_range
1  28    157  21:49  in_range
2  29    299  11:50     above
   id  bgVal   time       bin
0  30     59  17:32     below
1  31    156  14:44  in_range
2  32    168   2:31  in_range
   id  bgVal   time       bin
0  33    349  21:58     above
1  34    307   3:10     above
2  35    126   8:46  in_range
   id  bgVal   time       bin
0  36     87  10:12  in_range
1  37    205  14:46  in_range
2  38    218   2:58  in_range
   id  bgVal   time       bin
0  39    172  10:07  in_range
1  40    326  12:55     above
2  41    234  14:45  in_range
   id  bgVal   time       bin
0  42    296  21:37     above
1  43    294  14:14     above
2  44     95  23:34  in_range
   id  bgVal   time       bin
0  45    125  13:12  in_range
1  46    347  19:31     above
2  47    307  20:29     above
   id  bgVal   time       bin
0  48    163  10:48  in_range
1  49    130  23:25  in_range
2  50    367   1:19     above
   id  bgVal   time       bin
0  51    256   4:46     above
1  52    201  19:31  in_range
2  53    235  23:07  in_range
   id  bgVal   time       bin
0  54    218   3:33  in_range
1  55    181  12:03  in_range
2  56    377   2:01     above
   id  bgVal   time       bin
0  57    190   8:36  in_range
1  58    349   6:02     above
2  59    285  16:42     above
   id  bgVal   time       bin
0  60    311  23:09     above
1  61     66  22:57     below
2  62    214  23:22  in_range
   id  bgVal   time       bin
0  63    184   4:54  in_range
1  64    184  19:17  in_range
2  65     75  23:23     below
   id  bgVal   time       bin
0  66    292  22:05     above
1  67    253  14:46     above
2  68    188   8:38  in_range
   id  bgVal  time       bin
0  69    101  5:48  in_range
1  70    117  3:36  in_range
2  71    326  7:05     above
   id  bgVal   time    bin
0  72     76   4:09  below
1  73    371   3:30  above
2  74    255  11:42  above
   id  bgVal   time       bin
0  75     74  23:03     below
1  76    352   9:40     above
2  77    147  23:31  in_range
   id  bgVal   time    bin
0  78    327   2:51  above
1  79    336  22:49  above
2  80    254  20:47  above
   id  bgVal   time       bin
0  81    335  16:08     above
1  82    242  20:53  in_range
2  83    357   7:07     above
   id  bgVal   time       bin
0  84    252  22:24     above
1  85    232   8:42  in_range
2  86    252   7:53     above
   id  bgVal   time       bin
0  87    110  22:41  in_range
1  88     53   0:48     below
2  89    286   2:05     above
   id  bgVal  time       bin
0  90    309  1:38     above
1  91    113  5:00  in_range
2  92    245  3:05  in_range
   id  bgVal   time       bin
0  93    265   0:05     above
1  94    223  12:10  in_range
2  95    167  22:44  in_range
   id  bgVal   time    bin
0  96    322   4:43  above
1  97    286  10:39  above
2  98     50  10:00  below
    id  bgVal   time       bin
0   99    195  12:27  in_range
1  100    267   9:43     above
2    1    335   3:02     above
   id  bgVal   time    bin
0   2    253   3:58  above
1   3    307  22:56  above
2   4    312  22:04  above
   id  bgVal   time       bin
0   5    365  20:09     above
1   6     98   1:50  in_range
2   7    193  15:58  in_range
   id  bgVal   time    bin
0   8    289  14:38  above
1   9     63   8:25  below
2  10     73  16:18  below
   id  bgVal   time       bin
0  11    146   6:42  in_range
1  12    257  16:56     above
2  13     89  18:49  in_range
   id  bgVal   time       bin
0  14    193  23:46  in_range
1  15    231  15:43  in_range
2  16    121  10:11  in_range
   id  bgVal   time       bin
0  17     98  10:53  in_range
1  18    374  10:10     above
2  19    337  22:52     above
   id  bgVal   time       bin
0  20    106  12:36  in_range
1  21    140  17:49  in_range
2  22    158   9:18  in_range
   id  bgVal   time       bin
0  23    249   9:06  in_range
1  24    276  21:53     above
2  25    280  17:04     above
   id  bgVal   time       bin
0  26    364  12:17     above
1  27    154   3:42  in_range
2  28    138   3:09  in_range
   id  bgVal   time       bin
0  29    280  22:37     above
1  30     61  10:42     below
2  31    108   2:12  in_range
   id  bgVal   time       bin
0  32    132   4:46  in_range
1  33    171  16:38  in_range
2  34    338   2:22     above
   id  bgVal   time       bin
0  35    232  10:53  in_range
1  36    297   8:15     above
2  37    140  23:17  in_range
   id  bgVal   time       bin
0  38    177   2:14  in_range
1  39    297  10:20     above
2  40    169  23:07  in_range
   id  bgVal   time       bin
0  41    330  19:50     above
1  42    235  17:15  in_range
2  43    163   2:23  in_range
   id  bgVal   time       bin
0  44    367  15:10     above
1  45    170   7:16  in_range
2  46    380  14:25     above
   id  bgVal   time       bin
0  47    345   3:51     above
1  48    198  23:17  in_range
2  49     91   6:48  in_range
   id  bgVal   time       bin
0  50    362  16:27     above
1  51    151   8:46  in_range
2  52    380  12:15     above
   id  bgVal   time       bin
0  53    169   7:09  in_range
1  54    163  20:46  in_range
2  55    237   4:14  in_range
   id  bgVal   time       bin
0  56    271  10:36     above
1  57    356   7:00     above
2  58    213  21:05  in_range
   id  bgVal   time    bin
0  59    294   3:20  above
1  60     52  12:52  below
2  61    368  13:33  above
   id  bgVal   time       bin
0  62    139  15:05  in_range
1  63    308  23:21     above
2  64    212  23:01  in_range
   id  bgVal   time       bin
0  65    229  15:18  in_range
1  66    331  16:03     above
2  67    234  11:50  in_range
   id  bgVal   time       bin
0  68    161  22:06  in_range
1  69    290  14:18     above
2  70    157  17:58  in_range
   id  bgVal   time       bin
0  71    221  17:19  in_range
1  72    275  17:33     above
2  73    125  13:16  in_range
   id  bgVal   time       bin
0  74    190   1:54  in_range
1  75     67  19:35     below
2  76    162   0:40  in_range
   id  bgVal   time       bin
0  77    170  17:23  in_range
1  78    285  17:16     above
2  79    136   9:37  in_range
   id  bgVal   time       bin
0  80    300   0:01     above
1  81    350   6:13     above
2  82    114  21:52  in_range
   id  bgVal   time       bin
0  83    215   1:05  in_range
1  84    370  18:08     above
2  85    152  22:46  in_range
   id  bgVal   time       bin
0  86    122  14:16  in_range
1  87    248   1:20  in_range
2  88    345   8:13     above
   id  bgVal   time       bin
0  89    194   9:42  in_range
1  90    350  22:25     above
2  91     80  22:57     below
   id  bgVal   time       bin
0  92    148   3:32  in_range
1  93    375  15:47     above
2  94    245  12:55  in_range
   id  bgVal   time       bin
0  95    284   0:41     above
1  96    370  16:52     above
2  97    203  21:43  in_range
    id  bgVal   time    bin
0   98    291  22:49  above
1   99    265  20:36  above
2  100    281  19:05  above
   id  bgVal   time       bin
0   1     50  12:23     below
1   2    309   9:11     above
2   3    176  19:07  in_range
   id  bgVal   time    bin
0   4    295  20:31  above
1   5    268   1:49  above
2   6    335  12:08  above
   id  bgVal   time       bin
0   7    367   2:47     above
1   8    100  11:19  in_range
2   9    100   8:37  in_range
   id  bgVal   time       bin
0  10     98  17:10  in_range
1  11    146   3:59  in_range
2  12    314   5:05     above
   id  bgVal   time       bin
0  13    317  23:06     above
1  14    320   2:32     above
2  15    179   6:15  in_range
   id  bgVal   time       bin
0  16    223   2:23  in_range
1  17    351   1:59     above
2  18    244  10:37  in_range
   id  bgVal   time       bin
0  19    323  12:53     above
1  20     99  15:15  in_range
2  21    182  10:50  in_range
   id  bgVal   time       bin
0  22    185  21:27  in_range
1  23    110   2:59  in_range
2  24     99   4:44  in_range
   id  bgVal   time       bin
0  25    161  18:00  in_range
1  26    121   8:26  in_range
2  27    255   3:18     above
   id  bgVal   time       bin
0  28    294  10:31     above
1  29     78  11:39     below
2  30    203  16:32  in_range
   id  bgVal   time       bin
0  31     64  18:53     below
1  32    359  16:48     above
2  33    244   3:09  in_range
   id  bgVal   time    bin
0  34     67   3:03  below
1  35    375  17:54  above
2  36    342   1:03  above
   id  bgVal   time       bin
0  37    152  13:13  in_range
1  38     89   4:25  in_range
2  39    191  22:22  in_range
   id  bgVal   time       bin
0  40    182   5:36  in_range
1  41    352  15:18     above
2  42    138  18:30  in_range
   id  bgVal   time       bin
0  43     60  18:31     below
1  44    149  10:54  in_range
2  45     58  16:31     below
   id  bgVal   time    bin
0  46    338   6:01  above
1  47    251  22:30  above
2  48    257  19:43  above
   id  bgVal   time       bin
0  49    142  17:36  in_range
1  50    341  21:49     above
2  51    373  13:35     above
   id  bgVal   time       bin
0  52    193  15:33  in_range
1  53    359  14:33     above
2  54    144  17:04  in_range
   id  bgVal   time       bin
0  55    350  14:12     above
1  56    166   9:41  in_range
2  57    369   3:30     above
   id  bgVal   time       bin
0  58    128  15:38  in_range
1  59    101  20:57  in_range
2  60    228  21:53  in_range
   id  bgVal   time       bin
0  61    295   5:46     above
1  62    320  12:13     above
2  63    217  15:40  in_range
   id  bgVal   time       bin
0  64    160   4:56  in_range
1  65    310  12:44     above
2  66    301   7:07     above
   id  bgVal   time       bin
0  67    191  10:10  in_range
1  68    158   1:03  in_range
2  69    312   9:15     above
   id  bgVal   time       bin
0  70     83  16:18  in_range
1  71    367   9:00     above
2  72     78   4:13     below
   id  bgVal   time       bin
0  73    283  19:37     above
1  74    222   4:53  in_range
2  75     60  12:08     below
   id  bgVal   time       bin
0  76    361   0:11     above
1  77    231   1:14  in_range
2  78     74  10:42     below
   id  bgVal   time       bin
0  79    353  19:43     above
1  80     96  21:12  in_range
2  81    144   7:59  in_range
   id  bgVal   time    bin
0  82    354  16:59  above
1  83    374  11:58  above
2  84    292   6:37  above
   id  bgVal   time       bin
0  85     86  23:46  in_range
1  86    266   2:58     above
2  87    270  22:34     above
   id  bgVal   time       bin
0  88    228   5:06  in_range
1  89    111  17:04  in_range
2  90    188  22:30  in_range
   id  bgVal   time       bin
0  91     89  13:31  in_range
1  92    147   8:41  in_range
2  93    160  13:41  in_range
   id  bgVal   time       bin
0  94    129  10:59  in_range
1  95    255  16:50     above
2  96    286  17:39     above
   id  bgVal   time       bin
0  97    181   7:19  in_range
1  98    363  11:14     above
2  99     80   4:34     below
    id  bgVal   time       bin
0  100    125  15:11  in_range
1    1    349   0:13     above
2    2    246  10:18  in_range
   id  bgVal  time       bin
0   3    237  4:01  in_range
1   4     96  5:34  in_range
2   5    263  6:33     above
   id  bgVal   time    bin
0   6    276   0:23  above
1   7    264  13:02  above
2   8     75   0:15  below
   id  bgVal   time       bin
0   9     59  11:24     below
1  10    137  15:36  in_range
2  11    223  13:42  in_range
   id  bgVal   time       bin
0  12    294  19:33     above
1  13    243  20:24  in_range
2  14    265  10:16     above
   id  bgVal   time       bin
0  15     54  17:03     below
1  16    233   1:17  in_range
2  17    376   2:17     above
   id  bgVal   time       bin
0  18    100   4:52  in_range
1  19     78  18:17     below
2  20    246  10:03  in_range
   id  bgVal   time       bin
0  21     77  10:19     below
1  22    314  10:46     above
2  23    208   2:57  in_range
   id  bgVal   time       bin
0  24    182   6:08  in_range
1  25    367  14:22     above
2  26    368   4:05     above
   id  bgVal   time       bin
0  27    155  21:20  in_range
1  28    155  15:28  in_range
2  29    321  12:51     above
   id  bgVal   time       bin
0  30    188  10:06  in_range
1  31     96   2:56  in_range
2  32    155   7:04  in_range
   id  bgVal   time       bin
0  33     56   5:53     below
1  34    234  16:03  in_range
2  35    334   9:19     above
   id  bgVal   time       bin
0  36     81  14:10  in_range
1  37    337   7:24     above
2  38    132  14:42  in_range
   id  bgVal   time       bin
0  39    189  19:54  in_range
1  40    100   8:55  in_range
2  41    259  20:03     above
   id  bgVal   time       bin
0  42    107   3:24  in_range
1  43    238  10:24  in_range
2  44    169  11:05  in_range
   id  bgVal   time       bin
0  45    136   2:47  in_range
1  46    105  15:06  in_range
2  47    245  15:23  in_range
   id  bgVal   time       bin
0  48    176  15:44  in_range
1  49    194  22:38  in_range
2  50    269  22:14     above
   id  bgVal   time       bin
0  51    180  23:00  in_range
1  52    308   2:58     above
2  53    286   0:57     above
   id  bgVal   time       bin
0  54     76  19:14     below
1  55    231   1:23  in_range
2  56    183  16:23  in_range
   id  bgVal   time       bin
0  57    218  14:33  in_range
1  58    149  18:00  in_range
2  59    325   6:45     above
   id  bgVal  time       bin
0  60    150  3:37  in_range
1  61    358  8:00     above
2  62    260  8:04     above
   id  bgVal   time       bin
0  63     75   7:19     below
1  64    152  23:11  in_range
2  65     68   3:00     below
   id  bgVal   time       bin
0  66    245  23:05  in_range
1  67     70   6:07     below
2  68    104   7:27  in_range
   id  bgVal   time       bin
0  69    124   1:22  in_range
1  70    343  18:24     above
2  71     55  23:57     below
   id  bgVal   time       bin
0  72    335  19:54     above
1  73    234  17:45  in_range
2  74    308   4:30     above
   id  bgVal   time       bin
0  75    135  16:50  in_range
1  76     50   0:25     below
2  77    342   5:49     above
   id  bgVal   time       bin
0  78    308  14:58     above
1  79    173  21:20  in_range
2  80    259   0:08     above
   id  bgVal   time       bin
0  81    146  20:42  in_range
1  82    351  20:32     above
2  83    307  10:01     above
   id  bgVal   time       bin
0  84    167  21:04  in_range
1  85    159  16:52  in_range
2  86    201   9:59  in_range
   id  bgVal   time    bin
0  87    284  22:36  above
1  88     63   2:17  below
2  89    323  17:03  above
   id  bgVal   time       bin
0  90    178  18:52  in_range
1  91    260  20:56     above
2  92    174  16:01  in_range
   id  bgVal  time       bin
0  93    174  0:05  in_range
1  94    257  0:28     above
2  95     93  2:40  in_range
   id  bgVal   time       bin
0  96    201   9:11  in_range
1  97     55   0:34     below
2  98    195  20:24  in_range
    id  bgVal   time       bin
0   99     84  11:18  in_range
1  100    300  11:56     above
2    1    155  14:02  in_range
   id  bgVal   time       bin
0   2    190  19:07  in_range
1   3    111  15:31  in_range
2   4     59   8:21     below
   id  bgVal   time       bin
0   5    307   7:58     above
1   6    142  18:25  in_range
2   7    211  19:46  in_range
   id  bgVal   time    bin
0   8    372  20:26  above
1   9    312   1:45  above
2  10    337  16:57  above
   id  bgVal   time       bin
0  11     54  23:49     below
1  12    271   7:43     above
2  13    196   9:41  in_range
   id  bgVal   time       bin
0  14     90   0:24  in_range
1  15    345   6:02     above
2  16    172  13:01  in_range
   id  bgVal   time       bin
0  17    298   4:16     above
1  18    180   4:34  in_range
2  19    221  10:33  in_range
   id  bgVal   time       bin
0  20    340  23:29     above
1  21    222  11:59  in_range
2  22    326   0:35     above
   id  bgVal   time       bin
0  23    253   5:33     above
1  24    294   7:38     above
2  25    190  17:50  in_range
   id  bgVal   time       bin
0  26    194   9:54  in_range
1  27    255   3:44     above
2  28    198  14:01  in_range
   id  bgVal  time       bin
0  29    281  7:54     above
1  30    229  0:36  in_range
2  31    232  0:26  in_range
   id  bgVal   time       bin
0  32    337  21:25     above
1  33    142  11:34  in_range
2  34    257  12:57     above
   id  bgVal  time       bin
0  35    373  5:15     above
1  36    148  9:22  in_range
2  37    283  3:48     above
   id  bgVal   time       bin
0  38    281  12:23     above
1  39    377  19:16     above
2  40    141   9:12  in_range
   id  bgVal   time       bin
0  41     98   5:13  in_range
1  42    197  18:20  in_range
2  43    265  12:38     above
   id  bgVal   time       bin
0  44    330  16:00     above
1  45    363  10:24     above
2  46    211   7:33  in_range
   id  bgVal   time    bin
0  47     72  17:18  below
1  48    268   8:52  above
2  49    365  16:24  above
   id  bgVal   time       bin
0  50    288   0:41     above
1  51    143  20:20  in_range
2  52    129  14:42  in_range
   id  bgVal   time       bin
0  53    192  11:04  in_range
1  54    240   4:09  in_range
2  55    312  23:10     above
   id  bgVal   time    bin
0  56    312  13:03  above
1  57    319  13:33  above
2  58    278  10:02  above
   id  bgVal   time       bin
0  59    169  10:04  in_range
1  60    249   9:06  in_range
2  61    302   8:32     above
   id  bgVal   time    bin
0  62    332  12:26  above
1  63     75  23:21  below
2  64    370  20:19  above
   id  bgVal   time       bin
0  65    107  21:26  in_range
1  66     81  16:14  in_range
2  67    324  14:56     above
   id  bgVal   time       bin
0  68     85   3:50  in_range
1  69     92  22:25  in_range
2  70    297  12:08     above
   id  bgVal   time       bin
0  71    308   1:57     above
1  72    177   8:14  in_range
2  73    128  18:13  in_range
   id  bgVal   time       bin
0  74    102  22:35  in_range
1  75    274   6:19     above
2  76    109  12:07  in_range
   id  bgVal   time       bin
0  77    199   8:38  in_range
1  78    356  18:48     above
2  79    358  16:03     above
   id  bgVal   time       bin
0  80    375  17:25     above
1  81    112   2:42  in_range
2  82    112   8:58  in_range
   id  bgVal   time    bin
0  83    347   6:53  above
1  84    315   8:17  above
2  85    379  13:44  above
   id  bgVal   time       bin
0  86    325   4:33     above
1  87    363   0:14     above
2  88    122  13:46  in_range
   id  bgVal   time       bin
0  89    362  12:21     above
1  90    142  23:10  in_range
2  91    266  17:22     above
   id  bgVal   time       bin
0  92    261  14:40     above
1  93    110   2:32  in_range
2  94    151  21:41  in_range
   id  bgVal   time       bin
0  95    144  15:39  in_range
1  96    246  22:04  in_range
2  97    375  23:48     above
    id  bgVal   time       bin
0   98    234  12:58  in_range
1   99    345  17:09     above
2  100    200  10:20  in_range
   id  bgVal   time       bin
0   1    234  12:10  in_range

In [5]:
#Save and close connection to database
con.close()

In [6]:
#Reopen connection and read new table

#Connect to our database with new table
conNew= sqlite3.connect('bgTable.db')

#Read the first few lines from our new table
newTable= pd.read_sql_query('SELECT * FROM bgTableBinned LIMIT 3', conNew)
newTable.head()

   id  bgVal   time       bin
0   1    230  15:52  in_range
1   2     80  19:22     below
2   3    347   8:13     above

In [7]:
conNew.close()

Note: For some reason, when I run cell #4 the first time, I get a logic error that says database doesn't exist. However, when I run the same cell again, it works, as do the remaining cells. I'll need to explore this a little further tomorrow (maybe I need to create the new table out of the loop first?), but it looks like for the first run, my workflow is doing what I need it to do.

### Buffering with a CSV file and Numpy

I created a csv file of the data in bgTable in order to perform the same operations with this file format. I could so something similar to what I did with the db file using pandas, but I'll start by avoiding external modules.

The key argument that we'll use is the 'buffering' argument for the 'open' function. Before that though, let's define the function that will bin the values into our three bins once more and test the operations on a separate table before we insert it into the chunk loop.

In [9]:
#Let's try operating on the sample table from the first line in our notebook
table0

   id  bgVal   time
0   1    230  15:52
1   2     80  19:22
2   3    347   8:13

In [136]:
#We'll need to import numpy and turn this dataframe into an array
#Let's verify that we have a three column array
import numpy as np

arrayTable= np.array(table0)
arrayTable

array([[1, 230, u'15:52'],
       [2, 80, u'19:22'],
       [3, 347, u'8:13']], dtype=object)

In [142]:
def binFxn(myArray):
    '''This function will be passed and applied to every row in 
    my chunk (to avoid iterating through a for loop) and will
    create create a new column that labels a row based on the
    value in its second column as below, in_range, or above'''
    if  myArray[1] <= 80: 
        return 'below'
    elif myArray[1] <= 250 and myArray[1] > 80:
        return 'in_range'
    elif myArray[1] >= 250:
        return 'above'

In [143]:
#We'll apply the binFxn to each row in our table and 
#the output will be a new column that we'll call newArray
newArray= np.apply_along_axis(binFxn, 1, arrayTable)
newArray= newArray.reshape(3,1)

In [144]:
#We'll append this new array to our origina array
#that should give us a 4 column table
np.append(arrayTable, newArray, axis=1)

array([[1, 230, u'15:52', 'in_range'],
       [2, 80, u'19:22', 'below'],
       [3, 347, u'8:13', 'above']], dtype=object)

Cool! Seems to be doing what we want it to do. Now we just need to perform this action on every chunk, and then write/append that to a new file. Let's try implementing that on a version of bgTable that comes in csv format.

In [147]:
#Initialize new file to append the new table data into
newTable= open('bgTableNew.csv','a')

#We'll use the buffering argument to limit the chunk size
#buffering=1 mb is the smallest unit we can choose
with open('bgTable.csv', buffering=1) as myFile:
    for chunk in myFile:
        arrayTable= np.array(chunk)
        newArray= np.apply_along_axis(binFxn, 1, arrayTable)
        newArray= newArray.reshape(3,1)
        
        newTable.write(np.append(arrayTable, newArray, axis=1))

ValueError: axis must be less than arr.ndim; axis=1, rank=0.

Will work on this and previous day's method more tomorrow.